.h114{
  height: 114px;
}

.mt17{
  margin-top: 17px;
}

.m5{
  margin: 5px !important;
}

.p10{
  padding: 10px;
}

.h100{
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.mt40{
  margin-top: 40vh;
}

.center{
  padding-top: 40vh;

  h2{
    width: 50%;
    margin: 0 auto;
  }

}